// Define variables for your color scheme

// For example:
$red: #93032E;
$blue: #1E3888;
$yellow: #ffd166;
$orange: #f77f00;
$green: #CEF7A0;
$gray: #212121;
$light-gray: #F4F4F4;
$seaweed: #1D8A99;
