.index-page {
  min-height: calc(100vh - 90px);
}

.cta-wrapper {
  width: fit-content;
  margin: 35px auto;
}

.gradient-button {
  padding: 12px 25px;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 82, 212, 0.4),
    0 1px 3px rgba(101, 199, 247, 0.2);
  background-image: linear-gradient(to right, #0052d4, #65c7f7, #9cecfb);
  transition: 0.5s;

  &:hover {
    color: white;
    background-position: right center;
    text-decoration: none;
  }
}

.kebab-not_found {
  margin: 40px auto;
  font-size: 18px;
  font-weight: bold;
}

.tags-wrapper {
  display: flex;
}

.tags {
  width: fit-content;
  background: blue;
  color: white;
  padding: 7px 17px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 100;
  margin: 0 3px;
}

// styling of the infoWindow
//! I know i know a lot of important but it's to overwrite default google styling ==> no workaround
.info-window-wrapper {
  text-align: center;
  h4 {
    margin-bottom: 20px;
  }
  a:hover {
    text-decoration: none;
    h4 {
      opacity: 0.75;
    }
  }
}
.gm-style .gm-style-iw-c {
  padding: 20px 15px !important;
  height: 150px !important;
}
.gm-style .gm-style-iw-d {
  overflow: hidden !important;
  height: 200px !important;
}

#map {
  width: 80%;
}

#map-tags {
  justify-content: center;
}

.tags-small {
  font-size: 11px;
  padding: 4px 14px;
}

.infoWindow-stars {
  margin: 10px auto;
  text-align: center;
  width: fit-content;
}

// kebab display
.kebabs-cards {
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 0;
}
.card-product {
  margin: 15px auto 0;
  justify-self: center;
  width: 400px;
  height: 180px;
  background: var(--bg-color);
  box-shadow: 0 0 15px var(--shadow-light);
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  &:hover {
    text-decoration: none;
    transform: scale(1.05);
  }
}

.card-product img {
  height: 100%;
  width: 140px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}

.card-product-infos {
  padding: 5px 10px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: minmax(30px, 50px) minmax(30px, 35px) 1fr;
}

.card-right-section {
  margin-top: 15px;
}

.tags-index {
  justify-content: center;
}

.stars-index {
  margin: 10px auto;
  width: fit-content;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  #map {
    width: 100%;
  }

  .kebabs-cards {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }

  .card-product {
    width: 340px;
    margin: 10px 0;
    img {
      width: 120px;
    }
    h2 {
      font-size: 18px;
    }
  }
  .card-product-infos {
    grid-template-rows: minmax(20px, 45px) minmax(30px, 40px) 1fr;
  }
  .tags-small {
    font-size: 11px;
    padding: 3px 10px;
  }
}
