.kebab-address {
  width: fit-content;
  margin: auto;
  font-size: 18px;
  font-weight: 300;
  color: $light-gray;
}

.kebab_actions-wrapper {
  text-align: center;
  a {
    margin: 5px 10px;
  }
  .btn {
    padding: 10px 20px;
  }
}

// review form
#new_review {
  label {
    margin-bottom: -1px;
  }
  #review-text {
    width: 100%;
    min-height: 100px;
  }
}

.wrap-input {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
}

.stars-wrapper {
  p {
    margin: 1rem;
  }
}

.stars {
  text-decoration: none;
  height: 32px;
  width: 32px;
  float: left;
  font-size: 32px;
  margin-right: 3px;
}

.star-colored:after {
  content: "\2605";
  color: #edb867;
}

.star-blank:after {
  content: "\2605";
  color: #d2d2d2;
}

#rating-txt {
  margin-top: 20px;
  padding-left: 15px;
  font-size: 18px;
}

.btn-ghost {
  color: $green;
  border: 1px solid $green;
  padding: 10px 25px;
  border-radius: 50px;
  font-weight: 400;
  transition: all 0.3s ease;
}

.btn-ghost:hover {
  text-decoration: none;
  background: $green;
  color: $white;
}
// END
