.stars-wrapper {
  p {
    margin: 1rem;
  }
}

.stars {
  text-decoration: none;
  height: 32px;
  width: 32px;
  float: left;
  font-size: 32px;
  margin-right: 3px;
}

.star-colored:after {
  content: "\2605";
  color: #edb867;
}

.star-blank:after {
  content: "\2605";
  color: #d2d2d2;
}

#rating-txt {
  margin-top: 20px;
  padding-left: 15px;
  font-size: 18px;
}

.rate-btn {
  text-align: center;
  margin: 30px auto;
}

.btn-ghost {
  color: $green;
  border: 1px solid $green;
  padding: 10px 25px;
  border-radius: 50px;
  font-weight: 400;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  text-decoration: none;
  color: $green;
}
