.new_kebab_form {
  margin: 20px auto;
}

.kebab_new_inputs {
  width: 98%;
}
.kebab_name,
.kebab_address {
  width: 100%;
}

.kebab_bread_category_list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  .form-check-input {
    position: absolute;
    left: 0;
    top: 25%;
    margin: 0;
  }
  .collection_check_boxes {
    font-size: 16px;
    font-weight: 300;
    color: $gray;
    letter-spacing: 1px;
  }
}

.kebab_description {
  width: 100%;
}

#text-input {
  width: 100%;
  min-height: 100px;
}

.photo-wrapper {
  text-align: center;
}

.kebab_photo {
  width: fit-content;
  margin: auto;
}

#photo-preview {
  margin: 20px auto;
}

.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  margin: 10px auto;
  border-radius: 4px;
  background: linear-gradient(145deg, #d0d0d0, #f7f7f7);
  box-shadow: 13px 13px 27px #d2d2d2, -13px -13px 27px #fcfcfc;
}

.btn-kebab_new {
  background-color: transparent;
  border: 2px solid $blue;
  border-radius: 0.6em;
  color: white;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: auto;
  padding: 1.2em 2.8em;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: 0 0 40px 40px $blue inset, 0 0 0 0 $blue;
  transition: all 150ms ease-in-out;
  &:hover,
  &:focus {
    color: $blue;
    outline: 0;
    box-shadow: 0 0 10px 0 $blue inset, 0 0 10px 4px $blue;
  }
}
