.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-footer img {
  width: 100px;
}

.separator-gradient-footer {
  height: 5px;
  position: relative;
  width: 80%;
  margin: 40px auto 20px auto;
  background: radial-gradient(
    ellipse farthest-side at top center,
    rgba(0, 0, 0, 0.6),
    transparent
  );
}
#colophon {
  text-align: center;
  padding: 10px 0;
  font-size: 16px;
  p {
    margin: 0;
  }
  a {
    padding-left: 5px;
  }
}
@keyframes flip {
  from {
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, -360deg);
    animation-timing-function: ease-out;
  }

  40% {
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -190deg);
    animation-timing-function: ease-out;
  }

  50% {
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px)
      rotate3d(0, 1, 0, -170deg);
    animation-timing-function: ease-in;
  }

  80% {
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, 0deg);
    animation-timing-function: ease-in;
  }

  to {
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0)
      rotate3d(0, 1, 0, 0deg);
    animation-timing-function: ease-in;
  }
}

.flip:hover {
  animation: 1s both flip;
}

@media (max-width: 812px) {
  .footer {
    flex-direction: column;
  }
  .copyright {
    margin: 20px auto;
    p {
      margin: 0;
    }
  }
}
