.main-navbar {
  height: 80px;
  box-shadow: 0 1px 8px #dedede;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background: #fff;
}

.nav-flex-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main-navbar img {
  width: 70px;
}

nav ul {
  list-style: none;
  text-align: center;
  display: flex;
}

.navbar-link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
  &:before,
  &:after {
    transition: all 0.5s;
  }
}

.navbar-link:hover {
  color: #555;
  text-decoration: none;
}

/* stroke */
nav.stroke .navbar-link {
  position: relative;
}
nav.stroke .navbar-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke .navbar-link:hover:after {
  width: 100%;
}

#navbarDropdown {
  font-size: 25px;
  color: #aaa;
  cursor: pointer;
  &:hover {
    color: #555;
  }
}

// toggle switch
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  height: 34px;
  margin-top: 6px;
}
.theme-switch {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: $light-gray;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  text-align: center;
}

.slider:before {
  background-color: black;
  bottom: 4px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f186";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
  font-size: 15px;
  color: #ffdf5d;
  padding-top: 2px;
}

input:checked + .slider {
  background-color: #66bb6a;
}
input:checked + .slider:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f185";
  color: #fab005;
  background-color: white;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
