.main-navbar {
  height: 80px;
  box-shadow: 0 1px 8px #dedede;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background: var(--bg-color);
}

.nav-flex-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main-navbar img {
  width: 70px;
}

.links-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 15px;
}

.navbar-link {
  display: block;
  padding: 10px 5px;
  text-decoration: none;
  color: var(--link-color);
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
  &:before,
  &:after {
    transition: all 0.5s;
  }
}

.navbar-link:hover {
  color: var(--link-accent);
  text-decoration: none;
}

/* stroke */
nav.stroke .navbar-link {
  position: relative;
}
nav.stroke .navbar-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: var(--link-accent);
  height: 1px;
}
nav.stroke .navbar-link:hover:after {
  width: 100%;
}

#navbarDropdown {
  font-size: 25px;
  padding: 5px 0 0 20px;
  color: var(--link-color);
  cursor: pointer;
  &:hover {
    color: var(--link-accent);
  }
}

.color_btn {
  border: none;
  outline: none;
  background: transparent;
  font-weight: bold;
  text-transform: uppercase;
  font-family: $headers-font;
  margin-top: 2px;
  letter-spacing: 1px;
}

.light--hidden {
  color: #fab005;
  // color: #fab005;
}

.dark--hidden {
  // color: #ffdf5d;
  color: #4c44b9;
}
