.main-navbar {
  height: 80px;
  box-shadow: 0 1px 8px #dedede;
  padding: 10px 20px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 auto;
  background: #fff;
}

.main-navbar img {
  width: 70px;
}

nav ul {
  list-style: none;
  text-align: center;
  display: flex;
}

.navbar-link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
  &:before,
  &:after {
    transition: all 0.5s;
  }
}

.navbar-link:hover {
  color: #555;
  text-decoration: none;
}

/* stroke */
nav.stroke .navbar-link {
  position: relative;
}
nav.stroke .navbar-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: ".";
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke .navbar-link:hover:after {
  width: 100%;
}

#navbarDropdown {
  font-size: 25px;
  color: #aaa;
  cursor: pointer;
  &:hover {
    color: #555;
  }
}
