.search-form-nav {
  min-width: 350px;
  max-width: 600px;
  position: relative;
  margin: auto;
}

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

#search_query::placeholder {
  font-weight: lighter;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #e7e7e7;
}

.search-form-control .form-control:focus {
  border: 1px solid #1edd88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1edd88 !important;
  transition: background 0.3s ease;
}

.cancel-button {
  transition: all 0.3s ease;
  color: $light-gray;
  font-size: 22px;
  position: absolute;
  top: 20%;
  right: 133px;

  &:hover {
    color: $gray;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .btn-flat {
    padding: 5px 10px;
  }
  .cancel-button {
    right: 105px;
  }

  .index_search {
    font-size: 13px;
  }
}
