<div class="container">
  <h1 class="text-center">Edit Kebab</h1>
  <%= render 'kebab_form', kebab: @kebab %>
  <hr>
  <%= link_to kebabs_path do %>
    <i class="fa fa-history"></i> Back to list
  <% end %>
</div>
