<div class="container">
  <h1 class="title">Passion Döner</h1>
  <% if user_signed_in? && current_user.admin? %>
    <div class="cta-wrapper">
      <%= link_to 'Add a Kebab', new_kebab_path, class: 'gradient-button text-center'%>
    </div>
  <% end %>
  <div class="search-from-nav">
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query"  placeholder="Cherchez un Kebab"/>
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
    <% end %>
  </div>
  <ul>
    <% @kebabs.each do |kebab| %>
      <li><%= link_to kebab.name, kebab_path(kebab)%></li>
    <% end %>
  </ul>
</div>
