<div class="container">
  <h1 class="title">New Kebab</h1>
  <%= render 'kebab_form', kebab: @kebab %>
  <hr>
  <%= link_to kebabs_path, class: "back_to_list" do %>
    <i class="fa fa-history"></i>Back to list
  <% end %>
</div>
