// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
@import "font-awesome";
@import "bootstrap/scss/bootstrap";
// Your CSS partials
@import "components/index";
@import "pages/index";
