// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery-bar-rating/dist/themes/css-stars";

// Your CSS partials
@import "components/index";
@import "pages/index";

:root {
  --bg-color: #fff;
  --link-color: #aaa;
  --link-accent: #555;
  --font-color: #212121;
  --shadow: rgba(0, 0, 0, 0.8);
  --shadow-light: rgba(0, 0, 0, 0.3);
  --placeholder: #6c757d;
  --form-shadow-light: rgba(0, 0, 0, 0.3);
  --hr: rgba(0, 0, 0, 0.1);
  --stars-grey: #d2d2d2;
  --stars-yellow: #edb867;
}

[color-theme="dark"] {
  --bg-color: #212121;
  --link-color: #d3d3d3;
  --link-accent: #f5f5f5;
  --font-color: #fff;
  --shadow: rgba(255, 255, 255, 0.8);
  --shadow-light: rgba(255, 255, 255, 0.3);
  --placeholder: #e7e7e7;
  --form-shadow-light: rgba(255, 255, 255, 0.3);
  --hr: rgba(255, 255, 255, 0.4);
  --stars-grey: #c0c0c0;
  --stars-yellow: #f7df1e;
}

:root[color-theme="light"] .light--hidden {
  display: none;
}
:root[color-theme="dark"] .dark--hidden {
  display: none;
}

body {
  font-family: $body-font;
  background-color: var(--bg-color);
  color: var(--font-color);
}

a {
  color: var(--font-color);
  &:hover {
    color: var(--font-color);
  }
}

.title {
  font-family: $headers-font;
  letter-spacing: 2px;
  margin: 20px auto;
  width: fit-content;
  text-align: center;
  color: var(--font-color);
}

h2,
h3,
h4 {
  font-family: $headers-font;
  letter-spacing: 2px;
  color: var(--font-color);
}

.invalid-feedback {
  display: block;
}

abbr[title="required"] {
  display: none;
}

.sep {
  width: 70%;
  margin: 1rem auto;
}

hr {
  border-top: 1px solid var(--hr);
}

.back-to-list {
  width: fit-content;
  margin: 15px 20px;
  color: $gray;
  .fa-history {
    margin-right: 5px;
  }
}

.page-wrapper {
  margin-top: -20px;
}

.form-inputs {
  margin: 5px auto;
  border-radius: 4px;
  padding: 5px;
  min-height: 40px;
  &::placeholder {
    font-weight: lighter;
    font-size: 14px;
    opacity: 0.9;
  }
}

// jquery bar ratingstars styling
.br-theme-css-stars .br-widget a:after {
  color: var(--stars-grey) !important;
}

.br-theme-css-stars .br-widget a.br-active:after {
  color: var(--stars-yellow) !important;
}
