// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery-bar-rating/dist/themes/css-stars";
// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  font-family: $body-font;
}

.title {
  font-family: $headers-font;
  letter-spacing: 2px;
  margin: 20px auto;
  width: fit-content;
}

.invalid-feedback {
  display: block;
}

abbr[title="required"] {
  display: none;
}

.back_to_list {
  color: $gray;
  .fa-history {
    margin-right: 5px;
  }
}
